---
import Layout from '../layouts/Layout.astro';
import Menu from '../components/Menu.astro';
---

<Layout title="Welcome to Astro.">
	<main>
		
		<h1>Bienvenidos al Curso de Programación basica</h1>
		<Menu />
		<ul role="list" class="link-card-grid">
		</ul>
	</main>
</Layout>
